.cards{
	position: relative;
	height: 210px;
}
.cards .card{
	position: absolute;
	display:inline-block;
	width:200px;
	height: 200px;
	padding-left: 50px;
	border:1px solid #99F;
	border-radius: 5px;
	overflow: hidden;
	background:#000;
	cursor: pointer;
}
.cards .card h1{
	position: absolute;
	height: 35px;
	width: 200px;
	top: 80px;
	left: -90px;
	margin: 0px;
	padding: 5px;
	text-align: center;
	font-size: 30px;
	transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
}
.card ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
	height: 150px;
	overflow: auto;
}
.card .badge {
	position: absolute;
	top: 2px;
	left: 2px;
	background-color: #FFF;
	color: #000;
}

.card:nth-child(1){
	left:0px;
	z-index: 1;
}
.card:nth-child(2){
	left:50px;
	z-index: 2;
}
.card:nth-child(3){
	left:100px;
	z-index: 3;
}
.card:nth-child(4){
	left:150px;
	z-index: 4;
}
.card:nth-child(5){
	left:200px;
	z-index: 5;
}
.card:nth-child(6){
	left:250px;
	z-index: 6;
}
.card:nth-child(7){
	left:300px;
	z-index: 7;
}
.card:nth-child(8){
	left:350px;
	z-index: 8;
}

.card:hover{
	z-index: 9;
}