<div class="row-fluid">
	<div class="span3">
		<div class="well sidebar-nav">
			<ul class="nav nav-list">
				<li><a href="#">About</a></li>
				<li><a href="" id="authorizeButton">Authorize</a></li>
				<li><a href="#">Join A Game</a></li>
			</ul>
		</div><!--/.well -->
	</div><!--/span-->
	<div class="span9">
		<h1>New Game</h1>
		<div class="row-fluid">
			<div class="span4 well">
				<h2><a href="#playcomputer">Individual</a></h2>
			</div><!--/span-->
			<div class="span4 well">
				<h2><a href="#board">Family</a></h2>
			</div><!--/span-->
			<div class="span4 well">
				<h2><a href="#mix">Mix</a></h2>
			</div><!--/span-->
		</div><!--/row-->
	</div><!--/span-->
</div><!--/row-->